<!doctype html>
<html>
<head>
<style>
div {
  width: 300px;
  padding: 10px;
  border: 5px solid purple;
  margin: 0;
}
</style>
</head>
<body>

<h2>Hi this is a  beautiful lotus</h2>

<img src="lotus-flower-828457262-5c6334b646e0fb0001dcd75a.webp" width="350" height="263" alt="loyus-flower">
<div>By sandeep acharya
Updated on may 16, 2022
The lotus’ importance comes from Buddhism, and is one of the eight precious things in Buddhism. 
The lotus is said to bloom in Beijing on lunar April 8 (the Buddha’s birthday) and lunar January 8 is Lotus Day.
 A cultural taboo related to the lotus is if a woman sews on lunar Lotus Day, she will have menstrual trouble.</div>

</body>
</html>